# Python
__pycache__/
*.pyc
.venv/
.env
# VS Code
.vscode/
# macOS / Windows
.DS_Store
Thumbs.db
# Env & sessions
.env
*.session

# Editors
.vscode/
.idea/

# Python
__pycache__/
*.pyc
.venv/

# OS
.DS_Store
Thumbs.db
